@using System.ComponentModel.DataAnnotations
@model EntitySearchModel
@{
    ViewBag.Title = "Create";
    var area = ViewContext.RouteData.DataTokens["Area"];
    if (area == null)
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Areas/" + area + "/Views/Shared/_AdminLayout.cshtml";
    }
}
 @if (Request.QueryString["window"] == null)
 {
     <ol class="breadcrumb" style="background-color: white">
         <li>
             <a href="#">首页</a>
         </li>
         <li>
             <a href="@Html.Raw(Url.Action("Index"))">@Model.Metadata.Name</a>
         </li>
         <li class="active">查询</li>
     </ol>
 }
<br/>
<div class="panel panel-default margin-10">
    <!-- Default panel contents -->
    <div class="panel-heading">
        <strong class="font-size20">按条件查询信息</strong>
    </div>
    <div class="panel-body">
        <form id="form" class="form-horizontal" role="form" action="@Url.Action(ViewBag.Action)" method="get">
            @foreach (var property in Model.Properties)
            {
                <div class="form-group has-feedback">
                    <label class="col-sm-2 control-label">@property.Name</label>
                    <div class="col-sm-8">
                        @{
                            switch (property.Type)
                            {
                                case CustomDataType.Date:
                                case CustomDataType.DateTime:
                                    <div class="input-group col-md-7">
                                        <input type="date" class="form-control col-md-3" id="Search.@(property.ClrName).Start" name="Search.@(property.ClrName).Start"/>
                                        <span class="input-group-addon">To</span>
                                        <input type="date" class="form-control col-md-3" id="Search.@(property.ClrName).End" name="Search.@(property.ClrName).End"/>
                                    </div>
                                    <script type="text/javascript">
                                        $('#Search.@(property.ClrName).Start').datepicker();
                                        $('#Search.@(property.ClrName).End').datepicker();
                                    </script>
                                    break;
                                case CustomDataType.Currency:
                                case CustomDataType.Integer:
                                case CustomDataType.Number:
                                    <div class="input-group col-md-7">
                                        <input type="number" class="form-control col-md-3" id="Search.@(property.ClrName).Start" name="Search.@(property.ClrName).Start"/>
                                        <span class="input-group-addon">To</span>
                                        <input type="number" class="form-control col-md-3" id="Search.@(property.ClrName).End" name="Search.@(property.ClrName).End"/>
                                    </div>
                                    <script type="text/javascript">
                                        $('#Search.@(property.ClrName).Start').change(function() {
                                            var number = new Number($(this).val());
                                            if (isNaN(number)) {
                                                $(this).val(0);
                                                return;
                                            }
                                        });
                                        $('#Search.@(property.ClrName).End').change(function() {
                                            var number = new Number($(this).val());
                                            if (isNaN(number)) {
                                                $(this).val(0);
                                                return;
                                            }
                                        });
                                    </script>
                                    break;
                                case CustomDataType.Other:
                                    if (property.CustomType == "Enum")
                                    {
                                        EntityExtension.EnumItem[] items;
                                        if (property.ClrType.IsGenericType)
                                        {
                                            items = Html.EnumAnalyze(property.ClrType.GetGenericArguments()[0]);
                                        }
                                        else
                                        {
                                            items = Html.EnumAnalyze(property.ClrType);
                                        }
                                        <select name="Search.@property.ClrName" class="form-control">
                                            @if (property.ClrType.IsGenericType)
                                            {
                                                <option value="" selected="selected"></option>
                                            }
                                            @for (var s = 0; s < items.Length; s++)
                                            {
                                                <option value="@items[s].Value">@items[s].Name</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" name="Search.@property.ClrName"/>
                                    }
                                    break;
                                case CustomDataType.Boolean:
                                    <select class="form-control" name="Search.@property.ClrName">
                                        <option value="" selected="selected"></option>
                                        <option value="True">Yes</option>
                                        <option value="False">No</option>
                                    </select>
                                    break;
                                case CustomDataType.Sex:
                                    <select class="form-control" name="Search.@property.ClrName">
                                        <option value="" selected="selected"></option>
                                        <option value="True">Male</option>
                                        <option value="False">Female</option>
                                    </select>
                                    break;
                                default:
                                    <input type="text" class="form-control" name="Search.@property.ClrName"/>
                                    break;
                            }
                        }
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary" value="查询"/>
                    <a href="javascript:history.go(-1);" class="btn btn-default">返回</a>
                    <input type="hidden" name="search" value="True"/>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $('#form').submit(function() {
        $(this).find(':input').each(function(index, element) {
            if (this.value == '')
                this.disabled = true;
        });
    })
</script>